/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-nov-2018, 18:53:50
    Author     : alexf
*/
#tauler {
    font-family: Courier New;
    font-size: 25px;
    color: grey;
    font-weight: bold;
    line-height: 6px;

    float: left; 
    width: 60%;
    padding: 0.5em;
}

#partida {
    float: right;
    font-size: 3em;
    display: flex;
    margin-right: 5%;
    /* width: 45%; */
    position: inherit;

}

#conta {
    background-color: grey;
    border: 1px solid black;
    width: auto;
    height: 120px;
    display: flex;
    font-size: 30px;
}
#cont{
    width: 80%;
    height: 460px;
    margin-top:1em; 
    border:2px solid; 
    padding:1em;
    display: flex;
}